@import url("./../../App.css");

.micButton {
    background: none;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

.micButton:hover {
    background-color: #f0f0f0;
}